.info-circle
  position relative
  display inline-block
  transition 0.5s

.circle-percentage
  width 100px
  height 100px
  transform rotate(-90deg)

.circle-percentage__ring
  fill white
  r 47
  cx 50
  cy 50
  stroke alternatecolor
  stroke-width 5
  stroke-dasharray: 112 (295 - 112)

.circle-percentage__input
  position absolute
  top 25%
  left 25%
  width 50px
  border none
  outline none
  color #9d9d9d
  font-size 40px
  font-family mainfont
  font-style italic
