.map
 position relative
 overflow hidden
 height 272px
 width 594px
 border-radius 3px

.map__google-map
  height 100%
  width 100%

.map__info
  display flex
  position absolute
  bottom 0
  left 0
  z-index 10
  align-items center
  height 25%
  width 100%
  background-color alternatecolor
  color white

.map__content-info
  display inline-block

  &:nth-child(1)
    width 28%

  &:nth-child(2)
    width 57%


.map__h2
  margin-top -10px
  text-align center
  font-size 30px
  font-weight 300

.map__h3
  font-size 12.5px
  font-weight 900
  text-transform uppercase
  letter-spacing 0.6px

.map__link
  display inline-block
  margin-right 21px
