div.map
  div#gmap_canvas.map__google-map
  div.map__info
    div.map__content-info
      h2.map__h2 Meet us!
    div.map__content-info
      h3.map__h3 1259 California ST #[br] San Francisco, CA
    div.map__content-info
      div.map__link
        img(src="style/img/my location.png" alt="my location" title="my location").map__link-img.map__link-img_my-location
      div.map__link
        img(src="style/img/pin.png" alt="our location" title="our location").map__link-img.map__link-img_our-location
