.ui-slider
  position relative
  width 37%
  outline none
  text-align left
  background-color maincolor
  border-radius 3px


.ui-slider-handle
  position absolute
  z-index 2
  width 21px
  height 21px
  border none
  border-radius 50%
  outline none
  cursor pointer
  background-color maincolor
  text-align center
  font-size 13px
  font-family mainfont

.ui-slider-horizontal
  height 5px


.ui-slider-horizontal .ui-slider-handle
  top -.6em
  margin-left -.6em

.ui-slider-horizontal .ui-slider-range
  top 0
  height 100%

.ui-slider-horizontal .ui-slider-range-min
  left 0

.ui-slider-horizontal .ui-slider-range-max
  right 0

.ui-widget.ui-widget-content
  border none
