html(lang="en")
  head
    title flatUI
    meta(charset="UTF-8")

    link(href="https://fonts.googleapis.com/css?family=Lato:300i,300,400,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet")
    link(href="style/style.css" rel="stylesheet")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="jQuery_plugins/Inputmask-3.x/js/inputmask.js")
    script(src="jQuery_plugins/Inputmask-3.x/js/inputmask.extensions.js")
    script(src="jQuery_plugins/Inputmask-3.x/js/jquery.inputmask.js")
    script(src="jQuery_plugins/jquery-ui-1.12.1.custom/jquery-ui.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqcndKel4IAk-XNsvredjJtehjpWH3eGY&callback=initMap")

    script(src="style/block/button/button_ripple.js")
    script(src="style/block/info-circle/info-circle_percentage.js")
    script(src="style/block/info-circle/info-circle_pie-chart.js")
    script(src="style/block/slider-block/slider-block__slider.js")
    script(src="style/block/stages/stages.js")
    script(src="style/block/form/form__toggle.js")
    script(src="style/block/form/form__text-info.js")
    script(src="style/block/form/form__select-block.js")
    script(src="style/block/map/map.js")
    script(src="style/block/calendar/datepicker-en-GB.js")
    script(src="style/block/calendar/calendar.js")
    script(src="style/block/video/video.js")
