include index-head.pug

body
  main.main
    .container.container_button-group
      h1.container__h1 Standard Buttons
      .container__content
        include style/block/button/button-group.pug

    .container.container_arrow-button-group
      h1.container__h1 Arrow Buttons
      .container__content
        include style/block/arrow-button/arrow-button-group.pug

    .container.container_info-circle-group
      h1.container__h1 Percentages / Pie Chart
      .container__content
        include style/block/info-circle/info-circle-group.pug

    .container.container_slider-block-group
      h1.container__h1 Sliders
      .container__content
        include style/block/slider-block/slider-block-group.pug

    .container.container_stages
      h1.container__h1 Stages
      .container__content
        include style/block/stages/stages.pug

    .container.container_form-elements
      h1.container__h1 Form Elements
      .container__content
        .container__left
          include style/block/form/form__comment.pug
        .container__right
          h1.container__h1 Toggles
          form.container__content
            include style/block/form/form__toggles.pug
          h1.container__h1 Tick Boxes
          form.container__content
            include style/block/form/form__tickbox.pug

    .container.container_search-and-user-profile
      .container__content
        .container__left
          h1.container__h1 Search / Drop Down
          .container__content
            include style/block/form/form__search-and-select-block.pug
        .container__right
          h1.container__h1 User Profile
          .container__content
            include style/block/user-profile/user-profile-group.pug

    .container.container_articles
      h1.container__h1 News & Events
      .container__left
        .container__content
          include style/block/article/article.pug
      .container__right
        .container__content
          include style/block/article/article_event.pug

    .container.container_map
      h1.container__h1 Location
      .container__content
        include style/block/map/map.pug

    .container.container_calendar-and-messaging
      .container__left
        h1.container__h1 Calendar
        .container__content
          include style/block/calendar/calendar.pug
      .container__right
        h1.container__h1 Messaging
        .container__content
          include style/block/messaging/messaging.pug

    .container.container_video
      h1.container__h1 Video
      .container__content
        include style/block/video/video.pug
