doctype html
html(lang="en")
  head
    title flatUI
    meta(charset="UTF-8")

    link(href="https://fonts.googleapis.com/css?family=Lato:300i,400,700,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
    link(href="style/style.css" rel="stylesheet")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="jQuery_plugins/Inputmask-3.x/js/inputmask.js")
    script(src="jQuery_plugins/Inputmask-3.x/js/inputmask.extensions.js")
    script(src="jQuery_plugins/Inputmask-3.x/js/jquery.inputmask.js")
    script(src="jQuery_plugins/jquery-ui-1.12.1.custom/jquery-ui.js")

  body

    div.container

      button.button.button_ripple.button_size_small(value="button") button
      button.button.button_ripple(value="button") button
      button.button.button_ripple.button_color_alternate(value="button") button
      button.button.button_ripple.button_size_small.button_color_alternate(value="button") button


    div.container

      button.arrow-button(value="arrow-button")
        svg.arrow-button__svg
          polyline.arrow-button__svg-polyline(points="19,6 8,17 19,27")
      button.arrow-button(value="arrow-button")
        svg.arrow-button__svg
          polyline.arrow-button__svg-polyline(points="11,6 22,17 11,27")
      button.arrow-button.arrow-button_disabled(value="arrow-button")
        svg.arrow-button__svg
          polyline.arrow-button__svg-polyline(points="19,6 8,17 19,27")
      button.arrow-button.arrow-button_disabled(value="arrow-button")
        svg.arrow-button__svg
          polyline.arrow-button__svg-polyline(points="11,6 22,17 11,27")


    div.container

      div.info-circle
        svg.info-circle__svg
          circle.info-circle__svg-ring.info-circle__svg-ring_percentage
        input.info-circle__input-percentage(type="text" value="33")

      div.info-circle
        svg.info-circle__svg
          circle.info-circle__svg-ring.info-circle__svg-ring_percentage
        input.info-circle__input-percentage(type="text" value="66")

      div.info-circle
        svg.info-circle__svg
          circle.info-circle__svg-ring.info-circle__svg-ring_percentage
        input.info-circle__input-percentage(type="text" value="100")

      div.info-circle.info-circle_pie-chart
        svg.info-circle__svg.info-circle__svg_pie-chart
          circle.info-circle__svg-ring.info-circle__svg-ring_pie-chart.info-circle__svg-ring_pie-chart_gray
          circle.info-circle__svg-ring.info-circle__svg-ring_pie-chart.info-circle__svg-ring_pie-chart_maincolor
          circle.info-circle__svg-ring.info-circle__svg-ring_pie-chart.info-circle__svg-ring_pie-chart_alternatecolor
          circle.info-circle__svg-ring.info-circle__svg-ring_pie-chart.info-circle__svg-ring_pie-chart_dark-gray
        div.inputs-pie-chart
          input.info-circle__input-pie-chart.info-circle__input-pie-chart_gray(type="text" value="100")
          input.info-circle__input-pie-chart.info-circle__input-pie-chart_maincolor(type="text" value="66")
          input.info-circle__input-pie-chart.info-circle__input-pie-chart_alternatecolor(type="text" value="33")
          input.info-circle__input-pie-chart.info-circle__input-pie-chart_dark-gray(type="text" value="10")


    div.container

      div.slider-block
        div.slider-block__slider.slider-block__slider_value-number
          div.ui-slider-handle

      div.slider-block
        div.slider-block__slider.slider-block__slider_value-range
          ul.slider-block__info
            - for (var i = 0; i < 101; i += 25)
              li.slider-block__percentage #[span #{i}]


    div.container

      div.stages
        hr.stages__hr
        hr.stages__hr.stages__hr_active
        ul.stages__points
          - for (var i = 1; i < 4; i ++)
            li.stages__point.stages__point_active #[span #{i}]
          - for (var i = 4; i < 6; i ++)
              li.stages__point #[span #{i}]


    div.container

      form.form.form_left
        div.form__name
          input(type="text" value="Your Name").form__text
          div.form__text-info.form__text-info_error Error
        div.form__name
          input(type="text" value="Your Email").form__text
          div.form__text-info Thanks!
        textarea.form__textarea Your Message
        button.button.form__button-submit(type="submit") submit

      form.form.form_right
        .form_toggles

          label.form__toggle
            input(type="checkbox").form__toggle-input
            div.form__toggle-slider
          label.form__toggle
            input(type="checkbox" checked).form__toggle-input
            div.form__toggle-slider

        .form_tickboxes

          label.form__tickbox
            input(type="checkbox" checked).form__tickbox-input
          label.form__tickbox
            input(type="checkbox").form__tickbox-input



    script(src="style/block/button/button_ripple.js")
    script(src="style/block/info-circle/info-circle_percentage.js")
    script(src="style/block/info-circle/info-circle_pie-chart.js")
    script(src="style/block/slider-block/slider-block__slider.js")
    script(src="style/block/stages/stages.js")
    script(src="style/block/form/form__toggle.js")
