doctype html
html(lang="en")
  head
    title flatUI
    meta(charset="UTF-8")
    link(href="style/style.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="style/block/button/button_ripple.js")
  body
    button.button.button_ripple.button_size_small(type="button" value="button") button
    button.button.button_ripple(type="button" value="button") button
    button.button.button_ripple.button_color_alternate(type="button" value="button") button
    button.button.button_ripple.button_size_small.button_color_alternate(type="button" value="button") button
