.button_color_alternate
  color alternatecolor
  border-color alternatecolor
  box-shadow 0px 3px 0px 0px darken(alternatecolor, 20%)

.button_color_alternate:hover
  background-color alternatecolor
  box-shadow: 0px 3px 0px 0px darken(alternatecolor, 20%)
