.button {
  position: relative;
  width: 118px;
  height: 32px;
  border: 1px solid #4eb7a8;
  border-bottom: none;
  outline: none;
  color: #4eb7a8;
  background-color: #fff;
  box-shadow: 0px 3px 0px 0px #3c9488;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  color: #fff;
  background-color: #4eb7a8;
  box-shadow: 0px 3px 0px 0px #3c9488;
}
.button:active {
  animation: click-button 50ms linear forwards;
}
.button_color_alternate {
  color: #e75735;
  border-color: #e75735;
  box-shadow: 0px 3px 0px 0px #cb3a18;
}
.button_color_alternate:hover {
  background-color: #e75735;
  box-shadow: 0px 3px 0px 0px #cb3a18;
}
.button_size_small {
  width: 78px;
  height: 22px;
  font-size: 10px;
}
@-moz-keyframes click-button {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
    box-shadow: none;
  }
}
@-webkit-keyframes click-button {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
    box-shadow: none;
  }
}
@-o-keyframes click-button {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
    box-shadow: none;
  }
}
@keyframes click-button {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
    box-shadow: none;
  }
}
.button_ripple {
  overflow: hidden;
}
.ripple-effect {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  animation: ripple-effect 2s;
}
@-moz-keyframes ripple-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
@-webkit-keyframes ripple-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
@-o-keyframes ripple-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
@keyframes ripple-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
.arrow-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #4eb7a8;
  background: #fff;
  outline: none;
  cursor: pointer;
  transition: 500ms;
}
.arrow-button__svg {
  width: 30px;
  height: 30px;
}
.arrow-button__svg-polyline {
  fill: none;
  stroke: #4eb7a8;
  stroke-width: 3.5;
}
.arrow-button:hover {
  background: #4eb7a8;
}
.arrow-button:hover .arrow-button__svg-polyline {
  stroke: #fff;
}
.arrow-button:active {
  transform: scale(0.9);
  transition: 50ms;
}
.arrow-button_disabled,
.arrow-button_disabled:hover {
  border: 3px solid #e5e5e5;
  background: #e5e5e5;
  cursor: default;
}
.arrow-button_disabled .arrow-button__svg-polyline,
.arrow-button_disabled:hover .arrow-button__svg-polyline {
  stroke: #fff;
}
.info-circle {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  transition: 0.5s;
}
.info-circle__svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
.info-circle__svg-ring {
  fill: none;
  r: 47;
  cx: 50%;
  cy: 50%;
  stroke: #e75735;
  stroke-width: 5;
}
.info-circle__input-percentage {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50px;
  border: none;
  outline: none;
  color: #9d9d9d;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-align: center;
}
.info-circle__input-percentage:hover {
  animation: input-hover 900ms infinite linear;
}
@-moz-keyframes input-hover {
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes input-hover {
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes input-hover {
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes input-hover {
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
.info-circle_pie-chart {
  width: 200px;
}
.info-circle__svg_pie-chart {
  width: 50%;
}
.info-circle__svg-ring_pie-chart {
  r: 41;
  cx: 50%;
  cy: 50%;
  stroke: #e5e5e5;
  stroke-width: 17px;
}
.info-circle__svg-ring_pie-chart_gray {
  stroke: #e5e5e5;
}
.info-circle__svg-ring_pie-chart_maincolor {
  stroke: #4eb7a8;
  stroke-dasharray: 150 150;
}
.info-circle__svg-ring_pie-chart_alternatecolor {
  stroke: #e75735;
  stroke-dasharray: 75 235;
}
.info-circle__svg-ring_pie-chart_dark-gray {
  stroke: #747474;
  stroke-dasharray: 30 270;
}
.inputs-pie-chart {
  position: absolute;
  left: 55%;
  top: 25%;
}
.info-circle__input-pie-chart {
  display: inline-block;
  width: 35px;
  font-size: 17px;
  text-align: center;
  margin: 0px;
  border: none;
  font-family: 'Lato', sans-serif;
  outline: none;
}
.info-circle__input-pie-chart_gray {
  color: #e5e5e5;
}
.info-circle__input-pie-chart_maincolor {
  color: #4eb7a8;
}
.info-circle__input-pie-chart_alternatecolor {
  color: #e75735;
}
.info-circle__input-pie-chart_dark-gray {
  color: #747474;
}
.slider-block {
  padding-top: 30px;
  padding-bottom: 20px;
}
.ui-slider {
  position: relative;
  width: 260px;
  outline: none;
  text-align: left;
  background-color: #4eb7a8;
  border-radius: 4px;
}
.ui-slider-handle,
.slider-block__slider_value-number .ui-slider-handle::after {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #4eb7a8;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}
.ui-slider-horizontal {
  height: 5px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.6em;
  margin-left: -12px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.slider-block__slider_value-number {
  background-color: #e5e5e5;
}
.slider-block__slider_value-number .ui-slider-handle {
  top: -42px;
  left: -7px;
  width: 35px;
  height: 24px;
  z-index: 10;
  line-height: 24px;
  background-color: #e75735;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 900;
}
.slider-block__slider_value-number .ui-slider-handle::after {
  content: '';
  background-color: #e75735;
  top: 34px;
  left: 8px;
}
.slider-block__slider_value-number .ui-slider-handle::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 16px;
  left: 36%;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #e75735;
  transform: rotate(45deg);
  clip: rect(4px, auto, auto, 4px);
}
.slider-block__slider_value-range .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: #e5e5e5;
}
.slider-block__info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 260px;
  top: 12px;
  color: #d1d1d1;
  font-size: 11px;
  font-weight: 900;
  list-style: none;
  margin: 0;
  padding: 0;
}
.stages {
  position: relative;
  width: 85%;
}
.stages__hr {
  position: absolute;
  width: 100%;
  top: 5px;
  left: 0px;
  height: 5px;
  background-color: #e5e5e5;
  border: none;
  transition: 1s;
}
.stages__hr_active {
  background-color: #e75735;
  width: 50%;
}
.stages__points {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.stages__point {
  width: 29px;
  height: 29px;
  background-color: #e5e5e5;
  color: #888;
  border-radius: 50%;
  text-align: center;
  line-height: 29px;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  transition: 1s;
}
.stages__point_active {
  background-color: #e75735;
  color: #fff;
}
.user-photo {
  position: relative;
  z-index: 2;
  width: 83px;
  height: 83px;
  border: 4px solid #e5e5e5;
  border-radius: 50%;
  overflow: hidden;
}
.user-photo_img {
  position: absolute;
  z-index: 1;
  left: -30%;
}
.form {
  width: 50%;
}
.form__name {
  position: relative;
  width: 288px;
}
.form__text {
  width: 208px;
  height: 28px;
  margin-bottom: 12px;
  padding-left: 13px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  background-color: #e5e5e5;
  color: #888;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.2px;
}
.form__text-info {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 72px;
  height: 28px;
  border-radius: 5px;
  background-color: #4eb7a8;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.form__text-info::after {
  position: absolute;
  content: '';
  top: 10px;
  left: -2px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #4eb7a8;
  transform: rotate(135deg);
  clip: rect(4px, auto, auto, 4px);
}
.form__text-info::before {
  content: 'Thanks!';
}
.form__text-info_error {
  background-color: #e75735;
}
.form__text-info_error::after {
  background-color: #e75735;
}
.form__text-info_error::before {
  content: 'Error';
}
.form__textarea {
  width: 288px;
  height: 88px;
  padding: 10px;
  resize: none;
  margin-bottom: 12px;
  padding-left: 13px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  background-color: #e5e5e5;
  color: #888;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.2px;
}
.form__tickbox {
  display: inline-block;
  position: relative;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  cursor: pointer;
  border-color: #c0c0c0;
  transition: 0.5s;
}
.form__tickbox::after {
  content: '';
  position: absolute;
  top: 24%;
  left: 36%;
  width: 4px;
  height: 9px;
  border: 2px solid;
  border-color: inherit;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
.form__tickbox-input {
  display: none;
}
.form__toggle {
  display: inline-block;
  position: relative;
  width: 59px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
}
.form__toggle-input {
  display: none;
}
.form__toggle-input:checked + .form__toggle-slider {
  transform: translateX(200%);
}
.form__toggle-slider {
  position: absolute;
  top: 12.5%;
  left: 5%;
  width: 30%;
  height: 75%;
  background-color: #fff;
  border-radius: 50%;
  transition: 1s;
}
.form__toggle-slider::after,
.form__toggle-slider::before {
  content: 'off';
  position: absolute;
  top: 8%;
  left: 130%;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.form__toggle-slider::before {
  content: 'on';
  left: -150%;
}
.form__button-submit {
  background-color: #4eb7a8;
  color: #fff;
}
.form__search {
  position: relative;
  width: 288px;
  height: 28px;
  margin-bottom: 12px;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
}
.form__search-input {
  width: 100%;
  outline: inherit;
  background-color: #e5e5e5;
}
.form__search-input::-webkit-input-placeholder {
  color: #888;
}
.form__search-input_not-found {
  background-color: #e75735;
  color: #fff;
  outline: none;
}
.form__search-input_not-found::-webkit-input-placeholder {
  color: #fff;
}
.form__search-button {
  position: absolute;
  width: 33px;
  height: 100%;
  top: 0px;
  right: 0px;
  border: 0;
  background-color: #e75735;
  outline: inherit;
  cursor: pointer;
}
.form__search-button::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  width: 7px;
  position: absolute;
  border: 3px solid;
  border-radius: 1px;
  border-color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  transform: rotate(45deg);
}
.form__search-button::before {
  position: absolute;
  top: 30%;
  left: 30%;
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border: 2px solid;
  border-color: #fff;
  border-radius: 50%;
}
.form__search-button:active::before {
  border-color: #e75735;
}
.form__search-button:active::after {
  border-color: #e75735;
}
.form__select-block {
  position: relative;
  width: 288px;
  height: 28px;
  outline: none;
  overflow: hidden;
  border-radius: 3px;
}
.ui-selectmenu-menu {
  border-radius: 3px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  font-family: 'Lato', sans-serif;
  background: #4eb7a8;
  color: #fff;
  text-indent: 10px;
  outline: inherit;
  cursor: pointer;
}
.ui-selectmenu-menu .ui-menu {
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 1px;
  list-style: none;
}
.ui-menu li {
  margin: 15px 0;
}
.ui-selectmenu-open {
  display: block;
}
.ui-selectmenu-text {
  font-family: 'Lato', sans-serif;
  color: #888;
  outline: inherit;
}
.ui-selectmenu-button.ui-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  color: #888;
  font-size: 14px;
  outline: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 27px;
  text-indent: 10px;
  cursor: pointer;
  background: #e5e5e5 url("img/sprite.png") no-repeat right;
}
.ui-selectmenu-icon.ui-icon {
  float: right;
}
.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.user-profile .user-photo {
  margin: 0 12px;
}
.user-profile__info {
  position: relative;
  width: 163px;
  height: 93px;
  background-color: #e5e5e5;
  border-radius: 6px;
  text-align: center;
}
.user-profile__info::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 45%;
  left: -2%;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: inherit;
  transform: rotate(45deg);
}
.user-profile__h2 {
  margin: 10px 0 0;
  padding: 0 0;
  font-size: 18px;
  color: #e75735;
  font-weight: 400;
}
.user-profile__h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  color: #4f4f4f;
}
.user-profile__social-link {
  display: inline-block;
  margin: 11px 4px;
  width: 32px;
  height: 32px;
}
.user-profile_alternate .user-profile__info {
  background: #4eb7a8;
}
.user-profile_alternate .user-profile__h2 {
  color: #fff;
}
.user-profile_alternate .user-profile__h3 {
  color: #fff;
}
.user-profile_alternate .user-profile__social-link {
  filter: brightness(0) invert(1);
}
.article {
  width: 288px;
  height: 212px;
  background: url("img/cyclist.png") no-repeat -60% 0%;
  border-radius: 3px;
  overflow: hidden;
}
.article__text {
  width: 67%;
  height: 100%;
  padding: 20px 20px 0 22px;
  float: right;
  background-color: #e75735;
  color: #fff;
  box-sizing: border-box;
}
.article__h2 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 300;
  line-height: 27px;
}
.article__h3 {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.article__p {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  font-size: 11px;
  letter-spacing: 0.6px;
}
.article_event {
  background: url("img/street.png") no-repeat -50% 0%;
}
.article_event .article__text {
  background-color: #4eb7a8;
}
.article_event .article__h2 {
  margin: 17px 0 22px -6px;
  font-size: 30px;
}
.article_event .article__number {
  margin-right: 7px;
  font-size: 73px;
}
.article_event .article__h3 {
  font-size: 12.5px;
  font-weight: 900;
  letter-spacing: 0.6px;
}
.article_event .article__p {
  margin-top: 3px;
  margin-bottom: 17px;
}
.article_event .article__button {
  width: 128px;
  margin-left: 8px;
  letter-spacing: 0.9px;
}
.map {
  position: relative;
  overflow: hidden;
  height: 272px;
  width: 594px;
  border-radius: 3px;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.map__google-map {
  position: absolute;
  height: 100%;
  width: 100%;
}
.map__info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  height: 25%;
  width: 100%;
  background-color: #e75735;
  color: #fff;
}
.map__content-info {
  display: inline-block;
}
.map__content-info:nth-child(1) {
  width: 28%;
}
.map__content-info:nth-child(2) {
  width: 57%;
}
.map__h2 {
  margin-top: -10px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.map__h3 {
  font-size: 12.5px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.map__link {
  display: inline-block;
  margin-right: 21px;
}
.map__link-img {
  cursor: pointer;
}
.calendar {
  width: 279px;
  border-radius: 3px;
  overflow: hidden;
}
.ui-datepicker {
  width: 100%;
}
.ui-datepicker-year {
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding-bottom: 9px;
  font-size: 23px;
  background-color: #d54c2c;
  color: #fff;
  font-weight: 300;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  left: 2px;
}
.ui-datepicker .ui-datepicker-prev::after,
.ui-datepicker .ui-datepicker-next::after {
  position: absolute;
  content: '';
  top: 38%;
  left: 35%;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(135deg);
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-next::after {
  transform: rotate(-45deg);
}
.ui-datepicker .ui-datepicker-title {
  padding-top: 2px;
  line-height: 1.45em;
  text-align: center;
}
.ui-datepicker thead {
  background: #e75735;
  color: #fff;
  font-size: 8px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  background-color: #f2f2f2;
}
.ui-datepicker th {
  padding: 1em 0.3em;
  text-align: center;
  font-weight: bold;
}
.ui-datepicker td {
  border: 1px solid #fff;
  padding: 3px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #868686;
}
.ui-state-active {
  background: #e75735;
  color: #fff !important;
  outline: 3px solid #e75735;
}
.ui-state-disabled {
  filter: brightness(0) invert(1);
}
.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: 0.5em;
  top: 0.3em;
}
.calendar__header {
  display: flex;
  width: 100%;
  height: 109px;
  background-color: #e75735;
}
.calendar__h2 {
  margin: auto auto;
  color: #fff;
  font-size: 80px;
  font-weight: 300;
}
.calendar__footer {
  display: flex;
  height: 49px;
  background-color: #e5e5e5;
  cursor: pointer;
}
.calendar__h3 {
  margin: auto 0;
  padding-left: 7%;
  font-size: 13px;
  font-weight: 900;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.messaging {
  position: relative;
  width: 287px;
  border-radius: 3px;
  background: #f2f2f2;
  overflow: hidden;
}
.messaging__header {
  width: 100%;
  height: 115px;
  background: #46ab9d;
}
.messaging__h2 {
  padding-top: 18px;
  padding-bottom: 26px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 300;
  background: #4eb7a8;
}
.messaging__main {
  width: 84%;
  margin: 0 auto;
}
.messaging__main-header {
  margin-top: -45px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.messaging__icon {
  margin: 0 5px;
  cursor: pointer;
}
.messaging__icon_camera {
  position: relative;
  top: -3px;
}
.messaging__textarea-get-message,
.messaging__textarea-enter-message {
  width: 100%;
  margin: 0;
  margin-bottom: 18px;
  padding: 20px;
  padding-top: 18px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  resize: none;
  background-color: #fff;
  color: #868686;
  font-family: 'Lato', sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 0.8px;
  box-sizing: border-box;
}
.messaging__textarea-enter-message {
  min-height: 88px;
  margin-bottom: 8px;
  padding: 17px;
  padding-top: 13px;
  background-color: #e5e5e5;
  border: 3px solid #fff;
}
.messaging__button {
  width: 100%;
  margin-bottom: 26px;
  background-color: #4eb7a8;
  color: #fff;
  letter-spacing: 1px;
}
.video {
  position: relative;
  width: 594px;
  height: 336px;
  overflow: hidden;
  border-radius: 5px;
}
.video__h1 {
  position: absolute;
  top: 26px;
  left: 38px;
  z-index: 5;
  color: #fff;
  font-size: 34px;
  font-weight: 300;
}
.video__h3 {
  position: absolute;
  top: 70px;
  left: 40px;
  z-index: 5;
  color: #fff;
  font-size: 12.5px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.video__h2 {
  position: absolute;
  top: 105px;
  left: 40px;
  z-index: 5;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.video__h2 a {
  color: #fff;
  text-decoration: none;
}
.player {
  background: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  -moz-box-sizing: border-box;
  float: left;
  font-family: Arial, sans-serif;
  position: absolute;
  padding: 0;
  bottom: 20px;
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.video {
  position: relative;
  margin: 0px auto;
}
.video:hover .player {
  opacity: 1;
}
.player .progress {
  width: 84%;
  height: 5px;
  border-radius: 5px;
  background: #e5e5e5;
  box-shadow: inset 0 -5px 10px rgba(0,0,0,0.1);
  float: left;
  cursor: pointer;
  top: 45px;
  padding: 0;
  position: relative;
  font-variant: normal;
}
.player .progress-bar {
  background: #e75735;
  border-radius: 5px;
  height: 100%;
  position: relative;
  z-index: 999;
  width: 0;
}
.player .button-holder {
  position: relative;
  left: 10px;
}
.player .progress-button {
  display: none;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 30px;
  width: 10px;
  height: 5px;
  position: absolute;
  left: -20px;
  text-decoration: overline;
}
.player [class^="buffered"] {
  background: rgba(255,255,255,0.1);
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
}
.player .play-pause {
  position: relative;
  left: -3px;
  display: inline-block;
  font-size: 25px;
  float: left;
  text-shadow: 0 0 0 #fff;
  color: rgba(255,255,255,0.8);
  width: 6%;
  padding: 0px;
  top: 32px;
  cursor: pointer;
  font-variant: small-caps;
  transform: scale(0.65) scaleX(0.75);
}
.player .play,
.player .pause-button {
  -webkit-transition: all 0.2s ease-out;
}
.player .play .pause-button,
.player .pause .play-button {
  display: none;
}
.player .pause-button {
  padding: 5px 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 34px;
}
.player .pause-button span {
  background: #fff;
  width: 5px;
  height: 18px;
  float: left;
  display: block;
}
.player .pause-button span:first-of-type {
  margin: 0 4px 0 0;
}
.player .time {
  display: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  right: 0;
  top: 24px;
}
.player .play:hover {
  text-shadow: 0 0 5px #fff;
}
.player .play:active,
.pause-button:active span {
  text-shadow: 0 0 7px #fff;
}
.player .pause-button:hover span {
  box-shadow: 0 0 5px #fff;
}
.player .pause-button:active span {
  box-shadow: 0 0 7px #fff;
}
.player .fullscreen {
  font-size: 0;
  color: #000;
  position: relative;
  left: 14px;
  top: 22px;
  width: 8%;
  cursor: pointer;
  float: right;
  height: 95%;
  background: #e75735 url("img/full-screen.png") no-repeat 50% 50%;
}
.player .fullscreen a {
  display: none;
  width: 25px;
  height: 20px;
  border-radius: 3px;
  background: #008000;
  position: relative;
  top: 23px;
  margin: 0px auto;
}
body {
  font-family: 'Lato', sans-serif;
  width: 700px;
  margin: 0 0 100px;
}
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.button,
.arrow-button,
.info-circle,
.slider-block,
.article:nth-child(1),
.calendar {
  margin-right: 20px;
}
.form,
.user-profiles {
  display: flex;
  flex-direction: column;
}
.form_left {
  width: 50%;
  align-items: flex-end;
}
.form_left .button {
  margin: 0px;
}
.form_right,
.user-profiles {
  width: 50%;
  align-items: center;
}
.form_toggles {
  margin-bottom: 12px;
}
.user-profile {
  margin-bottom: 28px;
}
