.button {
  position: relative;
  width: 118px;
  height: 32px;
  border: 1px solid #4eb7a8;
  border-bottom: none;
  outline: none;
  color: #4eb7a8;
  background-color: #fff;
  box-shadow: 0px 3px 0px 0px #3c9488;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  color: #fff;
  background-color: #4eb7a8;
  box-shadow: 0px 3px 0px 0px #3c9488;
}
.button:active {
  animation: click-button 50ms linear forwards;
}
@-moz-keyframes click-button {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
    box-shadow: none;
  }
}
@-webkit-keyframes click-button {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
    box-shadow: none;
  }
}
@-o-keyframes click-button {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
    box-shadow: none;
  }
}
@keyframes click-button {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
    box-shadow: none;
  }
}
.button_ripple {
  overflow: hidden;
}
.ripple-effect {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  animation: ripple-effect 2s;
}
@-moz-keyframes ripple-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
@-webkit-keyframes ripple-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
@-o-keyframes ripple-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
@keyframes ripple-effect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
.button_size_small {
  width: 78px;
  height: 22px;
  font-size: 10px;
}
.button_color_alternate {
  color: #e75735;
  border-color: #e75735;
  box-shadow: 0px 3px 0px 0px #cb3a18;
}
.button_color_alternate:hover {
  background-color: #e75735;
  box-shadow: 0px 3px 0px 0px #cb3a18;
}
.arrow-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #4eb7a8;
  background: #fff;
  outline: none;
  cursor: pointer;
  transition: 500ms;
}
.arrow-button__svg {
  width: 30px;
  height: 30px;
}
.arrow-button__svg-polyline {
  fill: none;
  stroke: #4eb7a8;
  stroke-width: 3.5;
}
.arrow-button:hover {
  background: #4eb7a8;
}
.arrow-button:hover .arrow-button__svg-polyline {
  stroke: #fff;
}
.arrow-button:active {
  transform: scale(0.9);
  transition: 50ms;
}
.arrow-button_disabled,
.arrow-button_disabled:hover {
  border: 3px solid #e5e5e5;
  background: #e5e5e5;
  cursor: default;
}
.arrow-button_disabled .arrow-button__svg-polyline,
.arrow-button_disabled:hover .arrow-button__svg-polyline {
  stroke: #fff;
}
.info-circle {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  transition: 0.5s;
}
.info-circle__svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
.info-circle__svg-ring {
  fill: none;
  r: 47;
  cx: 50%;
  cy: 50%;
  stroke: #e75735;
  stroke-width: 5;
}
.info-circle__input-percentage {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50px;
  border: none;
  outline: none;
  color: #9d9d9d;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-align: center;
  transition: 0.5s;
}
.info-circle__input-percentage:hover {
  animation: input-hover 900ms infinite linear;
}
@-moz-keyframes input-hover {
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes input-hover {
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes input-hover {
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes input-hover {
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
.info-circle_pie-chart {
  width: 200px;
}
.info-circle__svg_pie-chart {
  width: 50%;
}
.info-circle__svg-ring_pie-chart {
  r: 41;
  cx: 50%;
  cy: 50%;
  stroke: #e5e5e5;
  stroke-width: 17px;
}
.info-circle__svg-ring_pie-chart_gray {
  stroke: #e5e5e5;
}
.info-circle__svg-ring_pie-chart_maincolor {
  stroke: #4eb7a8;
  stroke-dasharray: 150 150;
}
.info-circle__svg-ring_pie-chart_alternatecolor {
  stroke: #e75735;
  stroke-dasharray: 75 235;
}
.info-circle__svg-ring_pie-chart_dark-gray {
  stroke: #747474;
  stroke-dasharray: 30 270;
}
.inputs-pie-chart {
  position: absolute;
  left: 55%;
  top: 25%;
}
.info-circle__input-pie-chart {
  display: inline-block;
  width: 35px;
  font-size: 17px;
  text-align: center;
  margin: 0px;
  border: none;
  font-family: 'Lato', sans-serif;
  outline: none;
}
.info-circle__input-pie-chart_gray {
  color: #e5e5e5;
}
.info-circle__input-pie-chart_maincolor {
  color: #4eb7a8;
}
.info-circle__input-pie-chart_alternatecolor {
  color: #e75735;
}
.info-circle__input-pie-chart_dark-gray {
  color: #747474;
}
.ui-slider {
  position: relative;
  width: 37%;
  outline: none;
  text-align: left;
  background-color: #4eb7a8;
  border-radius: 3px;
}
.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #4eb7a8;
  text-align: center;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}
.ui-slider-horizontal {
  height: 5px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.6em;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-widget.ui-widget-content {
  border: none;
}
.slider_value-number {
  background-color: #e5e5e5;
}
.slider_value-number .ui-slider-handle {
  background-color: #e75735;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: #e5e5e5;
}
body {
  font-family: 'Lato', sans-serif;
  width: 700px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.button,
.arrow-button,
.info-circle,
.slider {
  margin: 0 20px;
}
