maincolor = #4eb7a8
alternatecolor = #e75735
mainfont = 'Lato', sans-serif
alternatefont = 'Source Sans Pro', sans-serif

@import "block\button\button.styl"
@import "block\button\button_ripple.styl"

@import "block\arrow-button\arrow-button.styl"

@import "block\info-circle\info-circle.styl"
@import "block\info-circle\info-circle_percentage.styl"
@import "block\info-circle\info-circle_pie-chart.styl"

@import "block\slider-block\slider-block.styl"
@import "block\slider-block\slider-block__slider.styl"
@import "block\slider-block\slider-block__slider_value-number.styl"
@import "block\slider-block\slider-block__slider_value-range.styl"
@import "block\slider-block\slider-block__info.styl"

@import "block\stages\stages.styl"
@import "block\stages\stages__hr.styl"
@import "block\stages\stages__points.styl"
@import "block\stages\stages__point.styl"

@import "block\form\form.styl"
@import "block\form\form__name.styl"
@import "block\form\form__text.styl"
@import "block\form\form__text-info.styl"
@import "block\form\form__textarea.styl"
@import "block\form\form__tickbox.styl"
@import "block\form\form__toggle.styl"
@import "block\form\form__button-submit.styl"
@import "block\form\form__search.styl"
@import "block\form\form__select-block.styl"

@import "block\user-profile\user-profile.styl"
@import "block\user-profile\user-profile_alternate.styl"

@import "block\article\article.styl"
@import "block\article\article_event.styl"

@import "block\map\map.styl"



body
  font-family mainfont
  width 700px
  margin 0 0 100px

h1, h2, h3
  margin 0px
  padding 0px

.container
  display flex
  justify-content center
  align-items center
  margin 30px 0


.button, .arrow-button, .info-circle, .slider-block, .article
  margin-right 20px

.form, .user-profiles
  display flex
  flex-direction column

.form_left
  width 50%
  align-items flex-end

  .button
    margin 0px

.form_right, .user-profiles
  width 50%
  align-items center

.form_toggles
    margin-bottom 12px

.user-profile
  margin-bottom 28px
