maincolor = #4eb7a8
alternatecolor = #e75735
mainfont = 'Lato', sans-serif

@import "block\button\button.styl"
@import "block\button\button_ripple.styl"
@import "block\button\button_size_small.styl"
@import "block\button\button_color_alternate.styl"

@import "block\arrow-button\arrow-button.styl"
@import "block\arrow-button\arrow-button_disabled.styl"

@import "block\info-circle\info-circle.styl"
@import "block\info-circle\info-circle_percentage.styl"
@import "block\info-circle\info-circle_pie-chart.styl"

@import "block\slider\slider.styl"
@import "block\slider\slider_value-number.styl"
@import "block\slider\slider_value-range.styl"


body
  font-family mainfont
  width 700px
  margin 0 0

.container
  display flex
  justify-content center
  align-items center
  margin 30px 0


.button, .arrow-button, .info-circle, .slider-block
  margin 0 20px
