.stages__point
  width 29px
  height 29px
  background-color #e5e5e5
  color #888888
  border-radius 50%
  text-align center
  line-height 29px
  font-size 14px
  font-weight 900
  cursor pointer
  transition 1s


.stages__point_active
  background-color alternatecolor
  color white
