div.article
  div.article__text
    h2.article__h2 It's all going downhill
    h3.article__h3 24 August 2013
    p.article__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
