div.article.article_event
  div.article__text
    h2.article__h2 #[span.article__number 24] Aug
    h3.article__h3 This is The Title
    p.article__p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    button.button.button_size_small.article__button Add to calendar
