.article
  width 288px
  height 212px
  background url('img/cyclist.png') no-repeat -60% 0%
  border-radius 3px
  overflow hidden

.article__text
  width 67%
  height 100%
  padding 20px 20px 0 22px
  float right
  background-color alternatecolor
  color white
  box-sizing border-box

.article__h2
  margin 0
  padding 0
  font-size 28px
  font-weight 300
  line-height 27px

.article__h3
  margin 0
  margin-top 10px
  padding 0
  font-size 11px
  font-weight 900
  text-transform uppercase
  letter-spacing 1.1px

.article__p
  margin 0
  margin-top 13px
  padding 0
  font-size 11px
  letter-spacing 0.6px
