.arrow-button
  position relative
  width 50px
  height 50px
  border-radius 50%
  border 3px solid maincolor
  background white
  outline none
  cursor pointer
  transition 500ms

.arrow-button__svg
    width 30px
    height 30px

.arrow-button__svg-polyline
  fill none
  stroke maincolor
  stroke-width 3.5

.arrow-button:hover
  background maincolor

  .arrow-button__svg-polyline
    stroke white

.arrow-button:active
  transform scale(0.9)
  transition 50ms
