.user-profile_alternate

  .user-profile__info
    background maincolor

  .user-profile__h2
    color white

  .user-profile__h3
    color white

  .user-profile__social-link
    filter brightness(0) invert(1)
