div.user-profile
  div.user-photo
    img(src="style/img/guy.png" alt="guy").user-photo_img
  div.user-profile__info
    h2.user-profile__h2 John Smith
    h3.user-profile__h3 Ux Designer
    div.user-profile__social-link
      a(href="https://fb.com")
        img(src="style/img/fb.png" alt="fb").user-profile__social-link-img
    div.user-profile__social-link
      a(href="https://twitter.com")
        img(src="style/img/tw.png" alt="tw").user-profile__social-link-img
    div.user-profile__social-link
      a(href="http://dribbble.com")
        img(src="style/img/dr.png" alt="dr").user-profile__social-link-img

div.user-profile.user-profile_alternate
  div.user-photo
    img(src="style/img/girl.png" alt="girls").user-photo_img
  div.user-profile__info
    h2.user-profile__h2 Sarah Brown
    h3.user-profile__h3 Developer
    div.user-profile__social-link
      a(href="https://fb.com")
        img(src="style/img/fb.png" alt="fb").user-profile__social-link-img
    div.user-profile__social-link
      a(href="https://twitter.com")
        img(src="style/img/tw.png" alt="tw").user-profile__social-link-img
    div.user-profile__social-link
      a(href="http://dribbble.com")
        img(src="style/img/dr.png" alt="dr").user-profile__social-link-img
