div.messaging
  div.messaging__header
    h2.messaging__h2 Sarah Brown
  div.messaging__main
    div.messaging__main-header
      img(src="style/img/chat.png" alt="chat").messaging__icon.messaging__icon_chat
      div.user-photo
        img(src="style/img/girl.png" alt="girls").user-photo_img
      img(src="style/img/camera.png" alt="camera").messaging__icon.messaging__icon_camera
    form
      textarea(readonly).messaging__textarea-get-message Hey! So are we cool to meet at the art gallery? Say 8pm
      textarea.messaging__textarea-enter-message Yeah that sounds great. See you then.
      button(type="submit").button.messaging__button Reply
