.slider-block__slider_value-number
  background-color #e5e5e5

  .ui-slider-handle
    top -42px
    left -7px
    width 35px
    height 24px
    z-index 10
    line-height 24px
    background-color alternatecolor
    border-radius 4px
    font-size 13px
    font-weight 900

    &::after
      @extend .ui-slider-handle
      content ''
      background-color alternatecolor
      top 34px
      left 8px

    &::before
      content ''
      position absolute
      z-index 0
      top 16px
      left 36%
      width 10px
      height 10px
      border-radius 2px
      background-color alternatecolor
      transform rotate(45deg)
      clip rect(4px, auto, auto, 4px)
