disable_arrow = 12px
select_width = 288px

.form__select-block
  position relative
  width 288px
  height 28px
  outline none
  overflow hidden
  border-radius 3px

.form__select
  position absolute
  width 108%
  height 100%
  padding-left 10px
  border none
  background #e5e5e5 url('img/sprite.png') no-repeat @width - 16%
  color #888888
  font-size 14px
  outline inherit
  font-family alternatefont
  cursor pointer

.form__select-option_drop
  width 50px
  font-family mainfont
  background maincolor
  color white
  outline inherit
