.form__text-info
  position absolute
  top 0px
  right 0px
  width 75px
  height 28px
  border-radius 5px
  background-color maincolor
  color white
  text-transform uppercase
  font-size 10px
  font-weight bold
  text-align center
  line-height 28px
