div.form__name
  input(type="text" placeholder="Your Name").form__text.form__text_name
  div.form__text-info
div.form__name
  input(type="email" placeholder="Your Email").form__text.form__text_email
  div.form__text-info
textarea(placeholder="Your Message").form__textarea
button.button.form__button-submit(type="submit") submit
