.form__search
  position relative
  width 100%
  height 28px
  margin-bottom 12px
  outline none
  border-radius 3px
  overflow hidden

.form__search-input
  width 100%
  outline inherit
  background-color #e5e5e5

  &::-webkit-input-placeholder
    color #888888

.form__search-input_not-found
  background-color alternatecolor
  color white
  outline none

  &::-webkit-input-placeholder
    color white

.form__search-button
  position absolute
  width 33px
  height 100%
  top 0px
  right 0px
  border 0
  background-color alternatecolor
  outline inherit
  cursor pointer

  &::after
    content ''
    position absolute
    top 60%
    left 50%
    width 7px
    position absolute
    border 3px solid
    border-radius 1px
    border-color white
    border-top none
    border-left none
    border-right none
    transform rotate(45deg)

  &::before
    position absolute
    top 30%
    left 30%
    content ''
    width 6px
    height 6px
    position absolute
    border 2px solid
    border-color white
    border-radius 50%

  &:active::before
    border-color alternatecolor

  &:active::after
    border-color alternatecolor
