.form__select-block
  position relative
  width 288px
  height 28px
  outline none
  overflow hidden
  border-radius 3px

.ui-selectmenu-menu
  border-radius 3px
  padding 0
  margin 0
  position absolute
  top 0
  left 0
  display none
  font-family mainfont
  background maincolor
  color white
  text-indent 10px
  outline inherit
  cursor pointer

.ui-selectmenu-menu .ui-menu
  padding 0
  margin 0
  overflow auto
  overflow-x hidden
  padding-bottom 1px
  list-style none

.ui-menu li
  margin 15px 0

.ui-selectmenu-open
  display block

.ui-selectmenu-text
  font-family mainfont
  color #888888
  outline inherit


.ui-selectmenu-button.ui-button
  position absolute
  width 100%
  height 100%
  border none
  color #888888
  font-size 14px
  outline inherit
  font-family alternatefont
  line-height 27px
  text-indent 10px
  cursor pointer
  background #e5e5e5 url('img/sprite.png') no-repeat right

.ui-selectmenu-icon.ui-icon
  float right
