// mixins
text-style()
  margin-bottom 12px
  padding-left 13px
  box-sizing border-box
  border none
  border-radius 3px
  background-color #e5e5e5
  color #888888
  font-size 14px
  font-family alternatefont
  letter-spacing 0.2px
