.form__text-info
  position absolute
  top 0px
  right 0px
  width 72px
  height 28px
  border-radius 5px
  background-color maincolor
  color white
  text-transform uppercase
  font-size 10px
  font-weight 900
  text-align center
  line-height 28px
  letter-spacing 0.5px

  &::after
    position absolute
    content ''
    top 10px
    left -2px
    width 10px
    height 10px
    border-radius 2px
    background-color maincolor
    transform rotate(135deg)
    clip rect(4px, auto, auto, 4px)
